.sw-cms-el-config-jv-offer-rail {
    &__section {
        margin-top: 16px;
    }

    &__section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__card {
        margin-bottom: 16px;
        padding: 12px;
        border: 1px solid #d1d9e0;
        border-radius: 4px;
    }

    &__card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__media {
        margin-bottom: 12px;
    }

    &__media-label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
    }
}
