.sw-cms-el-preview-jv-social-block {
    padding: 14px;
    text-align: center;

    strong {
        display: block;
        font-size: 11px;
        margin-bottom: 12px;
    }

    &__items {
        display: flex;
        gap: 12px;
        justify-content: center;

        span {
            background: #d1d9e0;
            border-radius: 50%;
            display: block;
            height: 26px;
            width: 26px;
        }
    }
}
