.sw-cms-el-preview-jv-button {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60px;
}

.sw-cms-el-preview-jv-button__control {
    background: #354044;
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 14px;
}