.sw-cms-el-preview-jv-chip-rail {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    &__label {
        color: #52667a;
        font-size: 12px;
        font-weight: 600;
    }
}
