.sw-cms-el-config-jv-promo-banner {
    &__media {
        margin-bottom: 16px;
    }

    &__media-label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__section {
        margin-top: 16px;
    }
}
