.jv-seo-redirect-detail {
    &__channel-title {
        margin: 0 0 24px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
    }

    &__sources-heading,
    &__source-row {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &__sources-heading {
        justify-content: space-between;
        margin: 20px 0 8px;
    }

    &__source-row .sw-field {
        flex: 1;
    }
}
